<form #conditionsForm="ngForm">
  <div class="row">
    <div class="col-12">
      <div class="tab">
        <ul class="tab__nav tab__nav--space-between js-tab-nav">
          <li id="tabPrecedent" class="tab__nav-item tab__nav-item--active">
            <a href="#tabPanelPrecedent">Precedent</a>
          </li>
          <li id="tabSubsequent" class="tab__nav-item">
            <a href="#tabPanelSubsequent">Subsequent</a>
          </li>
          <li id="tabCovenants" class="tab__nav-item">
            <a href="#tabPanelCovenants">Covenants</a>
          </li>
          <li id="tabDisbursement" class="tab__nav-item">
            <a href="#tabPanelDisbursement">Disbursement</a>
          </li>
          <li id="tabInternal" class="tab__nav-item">
            <a href="#tabPanelInternal">Internal</a>
          </li>
        </ul>

        <div id="tabPanelPrecedent" class="tab__panel tab__panel--active js-tab-panel">
          <h2 class="card-body__title">Standard <small class="input-label__info">Optional</small></h2>

          <div class="tab__content" [ngClass]="{'tab__content--scrollable': precedentStdConditionList.length >= 5}">
            <ul class="tab__list">
              <li class="tab__list-item" *ngFor="let precedentStdCondition of precedentStdConditionList; let i = index">
                <label [id]="'lblPrecedentStdCondition-' + precedentStdCondition.id" [for]="'chkPrecedentStdCondition-' + precedentStdCondition.id" class="checkbox-container checkbox-container-alignment">
                  <input type="checkbox"
                        [id]="'chkPrecedentStdCondition-' + precedentStdCondition.id"
                        [name]="'precedentStdCondition-' + precedentStdCondition.id"
                        (change)="onToggleCondition('Precedent', i, $event.target)" />
                  <span class="check-box-text-align">{{ precedentStdCondition.text }}</span>
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>

          <h2 class="card-body__title mb-10">Others</h2>

          <div class="tab__content">
            <table class="table table-borderless">
              <tbody>
                <ng-container *ngFor="let precedentCtmCondition of precedentCtmConditionList; let i = index;"
                              [ngTemplateOutlet]="conditionTpl"
                              [ngTemplateOutletContext]="{index: i, item: precedentCtmCondition, type: 'Precedent'}">
                </ng-container>
              </tbody>

              <tfoot>
                <tr>
                  <td class="p-0" colspan="2">
                    <button class="btn btn-tertiary btn-tertiary--add mt-20"
                            [disabled]="!precedentCtmConditionList[precedentCtmConditionIndex].text"
                            (click)="onAddNewCondition('Precedent')">New</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div id="tabPanelSubsequent" class="tab__panel js-tab-panel">
          <h2 class="card-body__title">Standard <small class="input-label__info">Optional</small></h2>

          <div class="tab__content" [ngClass]="{'tab__content--scrollable': subsequentStdConditionList.length >= 5}">
            <ul class="tab__list">
              <li class="tab__list-item" *ngFor="let subsequentStdCondition of subsequentStdConditionList; let i = index">
                <label [id]="'lblSubsequentStdCondition-' + subsequentStdCondition.id" [for]="'chkSubsequentStdCondition-' + subsequentStdCondition.id" class="checkbox-container checkbox-container-alignment">
                  <input type="checkbox"
                        [id]="'chkSubsequentStdCondition-' + subsequentStdCondition.id"
                        [name]="'subsequentStdCondition-' + subsequentStdCondition.id"
                        (change)="onToggleCondition('Subsequent', i, $event.target)" />
                  <span class="check-box-text-align">{{ subsequentStdCondition.text }}</span>
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>

          <h2 class="card-body__title mb-10">Others</h2>

          <div class="tab__content">
            <table class="table table-borderless">
              <tbody>
                <ng-container *ngFor="let subsequentCtmCondition of subsequentCtmConditionList; let i = index;"
                              [ngTemplateOutlet]="conditionTpl"
                              [ngTemplateOutletContext]="{index: i, item: subsequentCtmCondition, type: 'Subsequent'}">
                </ng-container>
              </tbody>

              <tfoot>
                <tr>
                  <td class="p-0" colspan="2">
                    <button class="btn btn-tertiary btn-tertiary--add mt-20"
                            [disabled]="!subsequentCtmConditionList[subsequentCtmConditionIndex].text"
                            (click)="onAddNewCondition('Subsequent')">New</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div id="tabPanelCovenants" class="tab__panel js-tab-panel">
          <h2 class="card-body__title">Standard <small class="input-label__info">Optional</small></h2>

          <div class="tab__content" [ngClass]="{'tab__content--scrollable': covenantsStdConditionList.length >= 5}">
            <ul class="tab__list">
              <li class="tab__list-item" *ngFor="let covenantsStdCondition of covenantsStdConditionList; let i = index">
                <label [id]="'lblCovenantsStdCondition-' + covenantsStdCondition.id" [for]="'chkCovenantsStdCondition-' + covenantsStdCondition.id" class="checkbox-container checkbox-container-alignment">
                  <input type="checkbox"
                        [id]="'chkCovenantsStdCondition-' + covenantsStdCondition.id"
                        [name]="'covenantsStdCondition-' + covenantsStdCondition.id"
                        (change)="onToggleCondition('Covenants', i, $event.target)" />
                  <span class="check-box-text-align">{{ covenantsStdCondition.text }}</span>
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>

          <h2 class="card-body__title mb-10">Others</h2>

          <div class="tab__content">
            <table class="table table-borderless">
              <tbody>
                <ng-container *ngFor="let covenantsCtmCondition of covenantsCtmConditionList; let i = index;"
                              [ngTemplateOutlet]="conditionTpl"
                              [ngTemplateOutletContext]="{index: i, item: covenantsCtmCondition, type: 'Covenants'}">
                </ng-container>
              </tbody>

              <tfoot>
                <tr>
                  <td class="p-0" colspan="2">
                    <button class="btn btn-tertiary btn-tertiary--add mt-20"
                            [disabled]="!covenantsCtmConditionList[covenantsCtmConditionIndex].text"
                            (click)="onAddNewCondition('Covenants')">New</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div id="tabPanelDisbursement" class="tab__panel js-tab-panel">
          <div class="tab__content">
            <div class="form-group pb-0 w-percent-45">
              <label class="input-label">Limit activation</label>
              <app-dropdown [componentId]="'Disbursement'"
                            [inputList]="disbursementConditionList"
                            [selectedInputValue]="disbursementConditionList[0]"
                            (selectedOutputValue)="onOptionSelection($event)">
              </app-dropdown>
            </div>
          </div>
        </div>

        <div id="tabPanelInternal" class="tab__panel js-tab-panel">
          <h2 class="card-body__title mb-10">Details</h2>

          <div class="tab__content">
            <table class="table table-borderless">
              <tbody>
                <ng-container *ngFor="let internalCondition of internalConditionList; let i = index;"
                              [ngTemplateOutlet]="conditionTpl"
                              [ngTemplateOutletContext]="{index: i, item: internalCondition, type: 'Internal'}">
                </ng-container>
              </tbody>

              <tfoot>
                <tr>
                  <td class="p-0">
                    <button class="btn btn-tertiary btn-tertiary--add mt-20"
                            [disabled]="!internalConditionList[internalConditionIndex].text.length"
                            (click)="onAddNewCondition('Internal')">New</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #conditionTpl let-i="index" let-condition="item" let-conditionType="type">
  <tr [id]="'rowCondition-' + i">
    <td class="p-0">
      <div class="form-group pb-0 deletable-elem deletable-elem--right">
        <label class="input-label visually-hidden" [for]="'txt' + conditionType + 'Condition-' + i">Others</label>
        <textarea cols="50" rows="1" [id]="'txt' + conditionType + 'Condition-' + i" class="w-percent-90 mt-20"
                  maxlength="200"
                  autocomplete="off"
                  [name]="'customCondition-' + i"
                  #customCondition="ngModel"
                  [(ngModel)]="condition.text"
                  appAutoExpandInput>
        </textarea>
        <div>
          <span [id]="'lblConditionCounter-' + i" class="counter">
            <span class="changing-counter">{{ condition.text.length }}</span>/200
          </span>
        </div>
        <button class="btn btn-tertiary btn-tertiary--delete btn-tertiary--delete-no-text deletable-elem__trigger"
                *ngIf="i !== 0"
                (click)="onDeleteCondition(conditionType, i)">
        </button>
      </div>
    </td>
  </tr>
</ng-template>
